body {
    background-color: bisque;
}

header {
    font-size: 38px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: yellow;
    border: 4px dotted rebeccapurple;
    align-content: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    width: auto;
}

.instructions {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkred;
    background-color: lightgreen;
    text-align: center;
    padding: 5px 10px 15px 10px;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    
}

p.intro {
    margin: 0;
}

#winner {
    text-align: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#loser {
    text-align: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#gnomes {
    text-align: center;
}

img {
    width: 100px;
    margin: 0px 8px 0px 8px;
}

div.start {
    padding-top: 10px;
    text-align: center;    
}

div.replay {
    padding-top: 10px;
    text-align: center;    
}

#marketvalue {
    float:left;
    font-size: 24px;
    align-content: center;
    text-align: left;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 24px;
    width: auto;
}
#wins-and-losses {
    float: left;
    font-size: 24px;
    align-content: center;
    text-align: left;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 24px;
    width: auto;
}
p {
    margin-top: 0;
}